<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jenselg.taptapkittycat" version="1.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tap Tap Kitty Cat</name>
    <description>
        Help the kitty cat collect the coins, while avoiding the dangerous spikes and the evil cloud!
    </description>
    <author email="jensel.gatchalian@gmail.com" href="">
        Jensel Gatchalian
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="res/icon.png" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <plugin name="cordova-plugin-admobpro" spec="~2.28.3" />
    <plugin name="cordova-plugin-device" spec="~1.1.5" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.3" />
    <plugin name="cordova-plugin-crosswalk-webview" source="npm" />
    <plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />

</widget>
